<section class="imageResults">
    <% json.searchResults.results.forEach(result => { %>
        <div class="imageResult">
            <a href="<%= result.url %>" target="_blank">
                <img src="<%= result.img %> " alt="<%= result.desc %>" title="<%= result.desc %>" loading="lazy">
                <h2><%= result.desc %></h2>
                <div class="ResultBar"><span><%= result.weight %></span> <span><%- result.engines.join("</span> <span>") %></span></div>
            </a>
        </div>
    <% }); %>
</section>