<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./global.css">
    <link rel="stylesheet" href="./ia.css">
    <link rel="stylesheet" href="./search.css">
    <link rel="search" type="application/opensearchdescription+xml" title="Searchbit" href="/opensearch.xml?ac=<%= config.autocomplete %>">
    <title><% if(typeof json !== "undefined" && json.q) { %>Search results for <%= json.q %><% } else { %> Searchbit <% } %></title>
    <%- config.customHTML %> 
</head>
<body>
    <header>
        <form method="get">
            <div id="top">
                <h1 id="title"><a href="/search" tabindex="-1">Searchbit</a></h1>
                <a href="/settings" id="settingsTab">Settings</a>
            </div>
            <div id="searchBar">
                <input type="search" name="q" value="<%= typeof json !== "undefined" ? json.q : "" %>" autofocus>
                <%
                    for (const param in req.query) {
                        if(param !== "q" && param !== "p") {
                            %>
                                <input type="hidden" name="<%= param %>" value="<%= req.query[param] %>">
                            <%
                        }
                    }
                %>
                <button type="submit" tabindex="-1">
                    <img src="/searchBtn.svg" alt="Search">
                </button>
             </div>
             <nav>
                <ul>
                    <%
                        const x = (new URLSearchParams(req.query)); x.set("t", "web");
                        const y = (new URLSearchParams(req.query)); y.set("t", "image");
                    %>
                    <li <%- req.query.t !== "image" ? "data-current" : "" %>><a href="/search?<%= x.toString() %>">Web</a></li>
                    <li <%- req.query.t === "image" ? "data-current" : "" %>><a href="/search?<%= y.toString() %>">Image</a></li>
                </ul>
             </nav>
        </form>
    </header>
    <main>
        <%- 
            req.query.q ? 
                req.query.t === "image" ?
                    include("imageSearch.ejs", { json, config }) :
                    include("webSearch.ejs", { json, config })
                :
                ""
        %>
    </main>
    <footer>
        <% if (req.query.q) { %>
            <form method="get">
                <%
                    for (const param in req.query) {
                        if(param !== "p") {
                            %>
                                <input type="hidden" name="<%= param %>" value="<%= req.query[param] %>">
                            <%
                        }
                    }
                %>
                <button class="paginationButton" type="submit" name="p" value="<%= (+req.query.p||1) === 1 ? 1 : (+req.query.p||1) - 1 %>" <%= req.query.p > 1 ? "" : "disabled" %>>← Previous</button>
                <span class="paginationPageText">PAGE <%= (req.query.p||1) %></span>
                <button class="paginationButton" type="submit" name="p" value="<%= (+req.query.p||1) + 1 %>">Next →</button>
            </form>
        <% } %>
    </footer>
</body>
</html>