<h3><%= ia.response.city === ia.response.country ? ia.response.country : `${ia.response.city}, ${ia.response.country}` %> (<%= ia.response.timeZone %>)</h3>
<h1><%= ia.response.time %></h1>
<h4><%= ia.response.dayName %>, <%= ia.response.date %></h4>